<form [formGroup]="form" class="input-form" (ngSubmit)="submitProduct()">

    <label for="name">Name</label>
    <input type="text" name="name" formControlName="name">
    @if(!name?.valid && name?.touched) {
      <p class="error-message">Invalid Name</p>
    }

    <label for="desc">description</label>
    <input type="text" name="desc" formControlName="desc">
    @if(!desc?.valid && desc?.touched) {
      <p class="error-message">Invalid description</p>
    }

    <label for="price">Price</label>
    <input type="number" name="price" formControlName="price">
    @if(!price?.valid && price?.touched) {
      <p class="error-message">Invalid price</p>
    }

    <div class="form-actions">
      <button class="primary-btn" type="submit">Add</button>
    </div>
</form>
